In [9]:
#How can you create a DataFrame a) using existing RDD, and b) from a CSV file?

from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
spark = SparkSession.builder.appName("IntQues").getOrCreate()
sales_File = "D:\Jupyter\Data\sales_records.csv"
file_data = spark.read.format("csv").option("header","true").load(sales_File)
print(type(file_data)) #dataframe

#Creating RDD from existing DF
file_data_rdd = file_data.rdd
df_schema = file_data.schema
print(df_schema)

#Creating dataframe from RDD
file_data_df = file_data_rdd.toDF()
file_data_df.show()

#RDD Schema
file_data_df.printSchema()

<class 'pyspark.sql.dataframe.DataFrame'>
StructType(List(StructField(Region,StringType,true),StructField(Country,StringType,true),StructField(Item Type,StringType,true),StructField(Sales Channel,StringType,true),StructField(Order Priority,StringType,true),StructField(Order Date,StringType,true),StructField(Order ID,StringType,true),StructField(Ship Date,StringType,true),StructField(Units Sold,StringType,true),StructField(Unit Price,StringType,true),StructField(Unit Cost,StringType,true),StructField(Total Revenue,StringType,true),StructField(Total Cost,StringType,true),StructField(Total Profit,StringType,true)))
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Middle East and N...|          Azerbaijan|         Snacks|       Online|             C| 10/8/2014|535113847|10/23/2014|       934|    152.58|    97.44|    142509.72|  91008.96|    51500.76|
|Central America a...|              Panama|      Cosmetics|      Offline|             L| 2/22/2015|874708545| 2/27/2015|      4551|    437.20|   263.33|   1989697.20|1198414.83|   791282.37|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|      Offline|             M| 12/9/2015|854349935| 1/18/2016|      9986|      9.33|     6.92|     93169.38|  69103.12|    24066.26|
|  Sub-Saharan Africa|Sao Tome and Prin...|  Personal Care|       Online|             M| 9/17/2014|892836844|10/12/2014|      9118|     81.73|    56.67|    745214.14| 516717.06|   228497.08|
|Central America a...|              Belize|      Household|      Offline|             H|  2/4/2010|129280602|  3/5/2010|      5858|    668.27|   502.54|   3914725.66|2943879.32|   970846.34|
|              Europe|             Denmark|        Clothes|       Online|             C| 2/20/2013|473105037| 2/28/2013|      1149|    109.28|    35.84|    125562.72|  41180.16|    84382.56|
|              Europe|             Germany|      Cosmetics|      Offline|             M| 3/31/2013|754046475|  5/3/2013|      7964|    437.20|   263.33|   3481860.80|2097160.12|  1384700.68|
|Middle East and N...|              Turkey|         Fruits|       Online|             C| 3/26/2012|772153747|  4/7/2012|      6307|      9.33|     6.92|     58844.31|  43644.44|    15199.87|
|              Europe|      United Kingdom|         Snacks|       Online|             H|12/29/2012|847788178| 1/15/2013|      8217|    152.58|    97.44|   1253749.86| 800664.48|   453085.38|
|                Asia|          Kazakhstan|      Cosmetics|       Online|             H| 9/11/2015|471623599| 9/18/2015|      2758|    437.20|   263.33|   1205797.60| 726264.14|   479533.46|
|Central America a...|               Haiti|      Cosmetics|       Online|             C|12/27/2013|554646337|  1/1/2014|      1031|    437.20|   263.33|    450753.20| 271493.23|   179259.97|
|              Europe|               Italy|        Clothes|       Online|             M|12/17/2013|278155219| 1/10/2014|      1165|    109.28|    35.84|    127311.20|  41753.60|    85557.60|
|              Europe|               Malta|      Household|      Offline|             L| 3/10/2015|243761575| 4/17/2015|      3322|    668.27|   502.54|   2219992.94|1669437.88|   550555.06|
|Middle East and N...|              Jordan|      Household|      Offline|             L|  7/9/2014|223389232| 7/18/2014|      4693|    668.27|   502.54|   3136191.11|2358420.22|   777770.89|
|                Asia|            Cambodia|     Vegetables|      Offline|             H| 6/14/2017|509274518| 6/29/2017|      4502|    154.06|    90.93|    693578.12| 409366.86|   284211.26|
|Central America a...|Saint Kitts and N...|Office Supplies|       Online|             H| 8/10/2011|563966262| 8/29/2011|      9004|    651.21|   524.96|   5863494.84|4726739.84|  1136755.00|
|  Sub-Saharan Africa|            Cameroon|         Fruits|       Online|             H|12/18/2015|370325791|  2/6/2016|      6486|      9.33|     6.92|     60514.38|  44883.12|    15631.26|
|Middle East and N...|             Bahrain|     Vegetables|      Offline|             L| 6/26/2016|881526935| 7/19/2016|      2264|    154.06|    90.93|    348791.84| 205865.52|   142926.32|
|Australia and Oce...|     Solomon Islands|      Beverages|      Offline|             C| 5/11/2015|871056020| 5/30/2015|      3688|     47.45|    31.79|    174995.60| 117241.52|    57754.08|
|              Europe|              Monaco|Office Supplies|       Online|             M| 1/13/2012|982711875| 1/17/2012|      5137|    651.21|   524.96|   3345265.77|2696719.52|   648546.25|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: string (nullable = true)
 |-- Unit Price: string (nullable = true)
 |-- Unit Cost: string (nullable = true)
 |-- Total Revenue: string (nullable = true)
 |-- Total Cost: string (nullable = true)
 |-- Total Profit: string (nullable = true)

In [ ]:
#Explain the use of StructType and StructField classes in PySpark with examples.
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

df_schema= StructType([StructField("Name",StringType(),True),
                       StructField("Age",IntegerType(),True),
                       StructField("Marks",IntegerType(),True)])

df_data = [("Ashish",30,75),
           ("Himani",45,77),
          ("Kaashvi",1,87)]

new_df = spark.createDataFrame(df_data,df_schema)
new_df.show()
new_df.printSchema()